.connect {
  margin: 0 16px;
  i {
    display: block;
    width: 2px;
    height: 2px;
    background: var(--sk-color-pri60);
    margin: 0 1px;
  }
}

.help {
  padding: 16px 0 0;
}

.btn {
  margin-top: 98px;
}
