@each $k in huge, large, big, meidum, head, body, caption, subcaption {
  .sk-t-#{$k} {
    font-size: var(--sk-font-size-h#{$k});
    line-height: var(--sk-line-height-h#{$k});
    font-weight: 400;
  }
}

@for $i from 1 through 5 {
  .sk-t-h#{$i} {
    font-size: var(--sk-font-size-h#{$i});
    line-height: var(--sk-line-height-h#{$i});
    font-weight: 600;
  }
}

@each $k in center, left, right, justify, start, end {
  .sk-t-#{$k} {
    text-align: #{$k};
  }
}
