.browsers {
  position: relative;
  width: 552px;
  height: 333px;
  padding: 64px 40px;
  font-family: 'Open Sans';
  border-radius: 20px;
  background:
    radial-gradient(50% 50% at 0% 0%, rgba(255, 182, 10, 0.12) 0%, rgba(255, 182, 10, 0) 100%),
    radial-gradient(50% 50% at 100% 0%, rgba(255, 108, 10, 0.14) 0%, rgba(255, 108, 10, 0) 100%);
  .browsers-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    border-radius: 12px !important;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
      transition: 0.25s;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
  .browsers-container {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    text-align: center;
    a {
      padding: 12px 16px;
      border-radius: 12px;
      &:hover {
        background: rgba(0, 0, 0, 0.04);
        transition: 0.25s;
      }
      &:not(:hover) {
        transition: 0.25s;
      }
      div {
        margin-top: 8px;
        color: #656D85;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
      }
    }
  }
  .browsers-warning {
    margin-top: 32px;
    color: #111214;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .browsers-suggestion {
    margin-top: 16px;
    color: #656D85;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
