.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 0;
  transition: all 0.25s ease-in-out;
  width: 100%;
  font-size: var(--sk-font-size-h3);

  &.default {
    background: var(--sk-color-n20);
    color: var(--sk-color-n80);

    &:hover {
      background: var(--sk-color-n30);
    }

    &:disabled {
      background: var(--sk-color-n20);
      color: var(--sk-color-n50);
    }
  }

  &.primary {
    background: var(--sk-color-n80);
    color: var(--sk-color-n00);

    &:hover {
      background: var(--sk-color-pri50);
    }

    &:disabled {
      background: var(--sk-color-n30);
      color: var(--sk-color-n50);
    }
  }

  &.loading {
    background: var(--sk-color-n30);
    cursor: default;

    &:hover {
      background: var(--sk-color-n30);
    }
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  &.large {
    width: 280px;
  }

  &.medium {
    width: 128px;
  }

  &.small {
    width: 61px;
    height: 32px;
    border-radius: 10px;
    font-size: var(--sk-font-size-h4);
  }
}
