.container {
  padding: 0 16px;
  border-radius: 16px;
}

.body {
  padding: 16px 0;
}

.left {
  width: 48px;
  height: 48px;
}

.right {
  width: 100%;
  margin-left: 20px;
}

.rightBottom {
  margin-top: 4px;
}
