.container {
  padding: 0 16px;
  border-radius: 16px;
}

.body {
  padding: 16px 0;
}

.left {
  width: 48px;
  height: 48px;
}

.right {
  width: calc(100% - 68px);
  margin-left: 20px;
}

.rightBottom {
  margin-top: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  div {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
